:root{
  --bg:#f5f3fb;--text:#2f2b3a;--border:#ded9ef;--label:#8c86a3;
  --surface:#faf9ff;--sv:#ece8f8;--os:#2f2b3a;--osv:#9a94b2;
  --p:#9a8cff;--op:#ffffff;--pc:#e4e1ff;--opc:#2c2766;
  --skel-base:#e2def0;--skel-shine:#f1effa
}
body.dark{
  --bg:#16141c;--text:#dddaf0;--border:#2c2840;--label:#9e98b8;
  --surface:#1e1b26;--sv:#272235;--os:#dddaf0;--osv:#b3acd0;
  --p:#b1a6ff;--op:#100f14;--pc:#322c55;--opc:#ece9ff;
  --skel-base:#2a2540;--skel-shine:#373052
}

