:root{
  --bg:#fff4ec;--text:#3a2e28;--border:#f3d8c8;--label:#a38373;
  --surface:#fff9f5;--sv:#fde7da;--os:#3a2e28;--osv:#b39484;
  --p:#ff9e6d;--op:#ffffff;--pc:#ffe3d3;--opc:#5a2d18;
  --skel-base:#f2d9cb;--skel-shine:#faebe2
}
body.dark{
  --bg:#1f1612;--text:#ecd8cc;--border:#3a2a22;--label:#c0a08f;
  --surface:#2a1e19;--sv:#35261f;--os:#ecd8cc;--osv:#d4b4a3;
  --p:#ffb48a;--op:#140f0c;--pc:#5a3622;--opc:#ffe6d6;
  --skel-base:#3a2a22;--skel-shine:#4a362d
}